/** Variables **/

// Fonts

$font-family: 'Roboto', 'Segoe UI', sans-serif;
$font-size: 14px;

// Colors

$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #FF9800;
$color-danger: #cb2431;
$color-success: #28a745; 
$color-info: #4FC3F7; 
$color-dark: #607D8B;
$color-disabled: #888;

$bg-color-primary: #007bff;
$bg-color-secondary: #6c757d;
$bg-color-warning: #FF9800;
$bg-color-danger: #cb2431;
$bg-color-success: #28a745; 
$bg-color-info: #4FC3F7; 
$bg-color-dark: #607D8B;
    
$focus-color: #1867c0;
$border-color: #aaa;


// Forms

$form-control-height: 2.25em;

$border-radius: 2px;
$border-radius-rounded: 8px;


/** Styles **/

body {
	font-family: 'San Francisco', 'Roboto', 'Segoe UI', sans-serif;
	//font-size:16px;
}

  
kbd {
    font-size: 0.8em;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.125rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    top: -0.25em;
}      

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-warning {
	color: $color-warning;
}

.color-danger {
	color: $color-danger;
}

.color-success {
	color: $color-success;
}

.color-info {
	color: $color-info;
}

.color-dark {
	color: $color-dark;
}

.color-disabled {
	color: $color-disabled;  
}