// Fonts

$font-family: 'Roboto', 'Segoe UI', sans-serif;

// Colors

$bg-color-primary: #007bff;
$bg-color-secondary: #6c757d;
$bg-color-warning: #FF9800;
$bg-color-danger: #cb2431;
$bg-color-success: #28a745; 
$bg-color-info: #4FC3F7; 
$bg-color-dark: #607D8B;
    