/** Variables **/

// Fonts

$font-family: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
$font-size: 14px;

// Colors

$text-color: #222;
$background-color: #fff;

$color-primary: #007bff;
$color-secondary: #6c757d;
$color-warning: #FF9800;
$color-danger: #cb2431;
$color-error: $color-danger;
$color-success: #28a745; 
$color-info: #4FC3F7; 
$color-dark: #607D8B;
$color-disabled: #888;

$bg-color-primary: #007bff;
$bg-color-secondary: #6c757d;
$bg-color-warning: #FF9800;
$bg-color-danger: #cb2431;
$bg-color-error: $bg-color-danger;
$bg-color-success: #28a745; 
$bg-color-info: #4FC3F7; 
$bg-color-dark: #607D8B;
    
$focus-color: #1867c0;
$hover-color: #eee;
$border-color: #aaa;

$color-disabled: rgba(0, 0, 0, 0.4);

// Forms

$form-control-height: 2.25em;

$border: 1px solid var(--border-color);
$border-radius: 2px;
$border-radius-rounded: 8px;
$box-shadow: 0px 0px 1px 0px var(--box-shadow-color);

$border-focus: 1px solid var(--focus-color);
$box-shadow-focus: 0px 0px 2px 0px var(--focus-color);


/** Styles **/

body {
	font-family: -apple-system, 'Roboto', 'Segoe UI', sans-serif;
}

:root {
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-warning: #{$color-warning};
	--color-danger: #{$color-danger};
	--color-error: #{$color-error};
	--color-success: #{$color-success}; 
	--color-info: #{$color-info}; 
	--color-dark: #{$color-dark};
	--color-disabled: #{$color-disabled};

	--bg-color-primary: #{$bg-color-primary};
	--bg-color-secondary: #{$bg-color-secondary};
	--bg-color-warning: #{$bg-color-warning};
	--bg-color-danger: #{$bg-color-danger};
	--bg-color-error: #{$bg-color-error};
	--bg-color-success: #{$bg-color-success}; 
	--bg-color-info: #{$bg-color-info}; 
	--bg-color-dark: #{$bg-color-dark};

	--background-color: #{$background-color};
	--text-color: #{$text-color};

	--border-color: #{$border-color};
	--border-radius: #{$border-radius};
	--box-shadow-color: transparent;
	--focus-color: #{$focus-color};
	--font-size: #{$font-size};
    --form-control-height: #{$form-control-height};
}

  
kbd {
    font-size: 0.8em;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.125rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    top: -0.25em;
}      

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-warning {
	color: $color-warning;
}

.color-danger {
	color: $color-danger;
}

.color-success {
	color: $color-success;
}

.color-info {
	color: $color-info;
}

.color-dark {
	color: $color-dark;
}

.color-disabled {
	color: $color-disabled;  
}

@import './tooltip.scss';