@import './base.scss';

fieldset {
    border: 1px solid #aaa;
}  

legend {
    color: #666;
    font-size:0.75em;
    padding-left:0.5em;
    padding-right:0.5em;
    text-align: left;
}  

fieldset > div.field {
    display: table-row;
}  
  
div.field {
    width: 200px;
}  
  
div.field > * {
    display: table-cell;
}
  
label.dv-input-label {
    //width: 40em;
}  
  
 
 
.dv-select {
    padding-left: 0.4em;
    padding-right: 0.5em;
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: 1px transparent;
    min-width: 5em;
    line-height: 150%;
    cursor: default;
    user-select: none;
    font-family: inherit;
    height: 2.25em;
}  
  
.dv-select:hover {
    cursor: pointer;
}  
  
.dv-select:focus {
    outline: 2px solid #1867c0;
}    
